// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap-grid';
@import 'variables';
@import 'bootstrap/mixins';
@import "bootstrap/utilities/text";

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/reset';
@import 'components/type';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/call';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/intro-image';
@import 'components/strip';
@import 'components/whitebox';
@import 'components/feature';

// Pages
@import 'pages/home';
@import 'pages/team/team-summary';
@import 'pages/services/page-services-single';

* {
  text-decoration: none;
}

body {
  font-size: 16px;
  line-height: 1.1;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 17px;
    line-height: 1.2;
  }
}

// Display breakpoints for DEV
{{ if .Site.IsServer }}
body:after {
  color: #000000;
  font-size: 12px;
  padding: 5px;
  font-weight: bold;
  right: 10px;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  bottom: 10px;
  width: 200px;
  z-index: 9999;
  border: solid 1px #000000;
  @each $name, $value in $grid-breakpoints {
    @include media-breakpoint-up($name) {
      content: '#{$name} - min-width: #{$value}';
    }
  }
}

.dropdown { //dropdown that you hover on 
  position: relative;
  display: inline block;
  text-decoration: none;
}

.dropdown-content { //the actual dropdown stuff
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  min-height: 20px;
  border-radius: 2px;
  // padding: 16px;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a { //the actual dropdown stuff links (text)
  color: hsl(0, 87%, 47%);
  padding: 15px;
  margin-top: 20px;
  text-decoration: none;
  display: block;
  transition: 1s;
}

.dropdown-content a:hover {
  color: black; 
  transition: 1s;
}

.dropdown-item a{
  text-decoration: none;
}


.dropdown-item a:hover{
  color: white; 
  background-color: hsl(0, 87%, 47%);
  border-radius: 4px;
  transition: 0.5s;
}

.dropdown-content a.menu-link-team{ //prevents extra dropdown for team from showing up. do not know why.
  display: none !important;
}

li a::focus{
  color: white; 
  background-color: hsl(0, 87%, 47%);
  border-radius: 4px;
  transition: 0.5s;
  background-color: hsl(0, 87%, 47%);
}


.dropdown:hover .dropdown-content { //thing that shows the dropdown links
  text-decoration: none;
  transition: 5s;
  display: block; 
}


{{ end }}