.header {
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  // box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  border-bottom: 1px solid $ghost;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}


.dropdown { //dropdown that you hover on 
  position: relative;
  display: inline block;
  text-decoration: none;
}

.dropdown-content { //the actual dropdown stuff
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  min-height: 20px;
  border-radius: 2px;
  // padding: 16px;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a { //the actual dropdown stuff links (text)
  color: hsl(0, 87%, 47%);
  padding: 15px;
  margin-top: 20px;
  text-decoration: none;
  display: block;
  transition: 1s;
}

.dropdown-content a:hover {
  color: black; 
  transition: 1s;
}

.dropdown-item a{
  text-decoration: none;
}


.dropdown-item a:hover{
  color: white; 
  background-color: hsl(0, 87%, 47%);
  border-radius: 4px;
  transition: 0.5s;
}

.dropdown-content a.menu-link-team{ //prevents extra dropdown for team from showing up. do not know why.
  display: none !important;
}

li a::focus{
  color: white; 
  background-color: hsl(0, 87%, 47%);
  border-radius: 4px;
  transition: 0.5s;
  background-color: hsl(0, 87%, 47%);
}


.dropdown:hover .dropdown-content { //thing that shows the dropdown links
  text-decoration: none;
  transition: 5s;
  display: block; 
}
