{{ define "body_classes" }}page-gur-single{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="gur gur-single">
        <h1 class="title">{{.Title}}</h1>
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $gur := resources.Get "js/pages/gur.js" }}
{{ $gurJS := slice $library $gur |resources.Concat "js/gur.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $gurJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($gurJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}